* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 640px;
    margin: 20px 140px 40px;

    color: #202020;
    background: #ffffef;
    font-size: 16pt;
    font-family: "Lato", sans-serif;
    line-height: 21pt;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Josefin Sans", sans-serif;
}

h1 {
    margin: 2em 0 1em;

    font-size: 180%;
}

article {
    margin-bottom: 2em;
}

a {
    color: #8e6d96;
}

a:visited {
    color: #715379;
}

.qued {
    margin: 2em 0 3em;
    width: 820px;
    height: 1px;
    border: none;

    color: #eee;
    background: #eee;
}

.codehilite {
    width: 820px;
    padding: 0 1.5em;
    border: 1px solid #eee;
    overflow: scroll;

    font-family: "Inconsolata", monospace;
    font-size: 13pt;
    color: #333;
    background: #fefefe;
}

.time {
    margin-right: 0.5em;
    color: #aaa;
    font-size: 80%;
}

.articles {
    list-style: none;
    padding: 0;
}
