{% extends 'base.html' %}

{% block title %}
    Texts | {{ block.super }}
{% endblock %}

{% block body %}
    <h1>Texts</h1>
    <ul class="articles">
        {% for article in articles %}
            <li>
                <span class="time">{{ article.created|date:"Y-m" }}</span>
                <a href="{{ article.get_absolute_url }}">
                    {{ article.title }}
                </a>
            </li>
        {% empty %}
            <li><span class="time">This page intentionally left blank.</span></li>
        {% endfor %}
    </ul>
{% endblock %}
