{% extends 'base.html' %}
{% load markdown_tags %}

{% block title %}
    {{ article.title }} | {{ block.super }}
{% endblock %}

{% block body %}
    <article>
        <h1>{{ article.title }}</h1>

        <p class="byline">
            {% if article.is_published %}
                <time>{{ article.created|date:"F Y" }}</time>
            {% else %}
                <time>This article has not been published yet</time>
            {% endif %}
        </p>
        {% markdown article.text %}
    </article>
    <hr class="qued">
{% endblock %}
